<h1>Hello ,<%= @owner.username.capitalize %></h1>

<% if @property && @property.tenants.size > 0 %>
<h3>Here is list of your <%=  @property.tenants.size %> tenants at <%= @property.name %>.
 <% @property.tenants.each do|tenant|%>
 <h3>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3>

 <h4>Name  : <h2><%= tenant.name %></h2></h4>

 <br>
 <h4>Occupation of the Tenant : <h2><%= tenant.occupation.capitalize %></h2></h4>
 <form action="/tenants/remove/<%= tenant.id %>" method="post">     
	<input name="_method" type="hidden" value="delete" />     
	Click here to
	<input type="submit" value="Delete"> 
	the tenant from your account.
 </form> 
<% end%>
<h3>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3>
 

 <% elsif @property %>
 <h3> You do not have any tenants </h3>
 <!-- <h2>Would you like to add <a href = "/tenants/<%= @property.id %>">New Tenants</a> to your <%= @property.name %>.</h2> -->


 <% end%>
 
 	<form action="/tenants/<%= @property.id %>" method="post">  
 	<input type="text" name ="name" placeholder = "name" required> 
 	<input type="text" name ="occupation" placeholder = "occupation" required>   
 	<!-- Property_id is pre-set for <%= @property.name.capitalize %> <input type="hidden" name = "property_id" value = "<%= @property.id %>" placeholder = "Property ID"><br> -->
	
	 <input type="submit" value="Create New Tenants"> 
</form>
 
  	<h3>................................................................................................................................................................................................</h3>
  <form method = "post" action ="/logout" >
	 
	Click on <input type="submit" value="Sign Out"> to close your session
</form>
 