<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/properties">Properties</a></li>
	<li class="breadcrumb-item active">/</li>
    
    <li class="breadcrumb-item active" aria-current="page"><%= @property.name %></li>
  </ol>
</nav>

<form action="/properties/<%= @property.id %>" method = "post">     
		<input   type="hidden" name="_method" value="patch">  
		<label>Name</label> <input type ="text" name = "name"  value = "<%= @property.name.capitalize %> "required><br>
		<label>Location</label> <input type ="text" name = "location"  value = "<%= @property.location.upcase %>" required><br>
		<label>Capacity</label> <input type ="text" name = "capacity"  value = "<%= @property.capacity %>" required><br>
		<label>Note</label> <textarea class="form-control" type ="text" name = "note" rows="3" value = "<%= @property.note %>"><%= @property.note %></textarea>
		<input type="hidden" name = "owner_id" value = "<%= @property.owner_id %>"><br>
		<input class = "btn btn-secondary" type = "submit" value = "Update">
</form>

