<!-- <h1>Hi , <%= @owner.username.capitalize %></h1>
<h2>Please select a property that you want to remove from your account</h2>
<form method="post" action="/remove/<%= @owner.id %>" >
<% @owner.properties.each do |property| %>
<input type="checkbox" name="name" id="<%= property.id%>" value="<%=property.name%>"> 
<%= property.name %><br>
<br>
  <%end%>
  <br><br>
  <input type ="submit" value = "Remove Property">




</form>
 -->