



<!-- <link rel="stylesheet" href="/stylesheets/main.css" /> -->

<h1 style = "color: brown;">Hello, <%= @owner.username.split(" ")[0].capitalize %></h1>

<% if @properties.size > 0 %>

<h3>Here is list of your properties.</h3>
<h3> Click to see <a href = "/owner/<%= @owner.id %>/tenants"> All Tenants</a> associated with your properties.</h3>


<% i = 1%>
<% @properties.each do |property| %>
<h5 style = "color: darkgreen;">##############################################################################################</h5>
<h1 style ="color:brown;"> Property #<%= i  %></h1> 
<h4>Property Name : <h2><a href = "/properties/<%= property.id %>"><%= property.name.capitalize %></a></h2></h4>
<h4>Propery Location : <li><h3><%= property.location.upcase %></h3></li></h4>
<h5>Property Tenant Capacity : <li><h3 style = "color:blue;" ><%= property.capacity %></h3></li></h5>
<h5>Number of current tenants : <li><h3 style = "color:blue;"><%= property.tenants.size %></h3></li></h5>
<% t =  property.tenants.size.to_f %>
<% c = property.capacity.to_f %>

<h5>Your property is :  <li><h3 style = "color:blue;"><%= ((t / c) * 100).round  %> % occupied.</h3></li></h5>


<% i += 1 %>
<!-- <h3> <a href = "/remove/<%= @owner.id %>">Remove</a>  </h3> -->

<form action="/remove/<%= property.id %>" method="post">     
	<input name="_method" type="hidden" value="delete" />     
	<h4>Click here to
	<input type="submit" value="Delete"> 
	a property from your account.</h4>
 </form> 
<h4>  Click here to <a href = "/properties/<%= property.id %>/edit">Update</a> the information about "<%= property.name.capitalize %>" property.</h4>


<% end %>




<% else %>
 <h3 style ="color: darkgreen;">You don't have any registered property at the moment.</h3>
 
<% end %>
<h5>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h5>
<h3>You can always enter a <a href = "/properties/new"> New Property</a> to manage.</h3>





<form method = "post" action ="/logout" >
	 
	Click on <input type="submit" value="Sign Out"> to close your session
</form>