



<!-- <link rel="stylesheet" href="/stylesheets/main.css" /> -->

<div style="float: right; padding:15px 0px; width: auto;display: inline-flex;">
	<div>
		<form action="/owner/<%= @owner.id %>/tenants" method="get">     
			<input name="_method" type="hidden" value="get" />  
			<input class = "btn btn-secondary" style = "width: auto;" type="submit" value="View List of tenants"> 
		 </form>
	</div>	
	<div style="margin-right: 5px;">
		<form action="/properties/new" method="get">     
			<input name="_method" type="hidden" value="add" />  
			<input class = "btn btn-secondary" style = "width: auto;" type="submit" value="Add a New Property"> 
		 </form>
	</div>
	<div>	
		<form method = "post" action ="/logout" >
			<input class = "btn btn-secondary" type="submit" value="Sign Out">
		</form>
	</div>
</div>


	<h3>Welcome back, <span class = "badge badge-secondary"><%= @owner.username %></span></h3>
	 



<% if @properties.size > 0 %>


	<% i = 1%>
	<% @properties.each do |property| %>


	
	
	<div class = "property" style = "background-color: #f7fcf2; border-radius: 10px; padding: 30px;margin: 20px 0px;">
	<div>
		<h3><a href = "/properties/<%= property.id %>"><%= property.name.capitalize %></a> in <%= property.location.upcase %></h3>
		<div style = "float: right; display: inline-flex;">
			<form action="/remove/<%= property.id %>" method="post">     
				<input name="_method" type="hidden" value="delete" />  
				<input class = "btn btn-outline-danger" style = "width: auto;" type="submit" value="Delete"> 
			 </form> 

			<form action="/properties/<%= property.id %>/edit" method="get">     
				<input name="_method" type="hidden" value="update" />  
				<input class = "btn btn-secondary" style = "width: auto;" type="submit" value="Update"> 
			 </form> 
		</div>
	</div>
			<h4>Capacity : <span style = "color:blue;" ><%= property.capacity %></span>, Number Tenant(s) : <span style = "color:blue;"><%= property.tenants.size %></span></h4>
			
			<% t =  property.tenants.size.to_f %>
			<% c = property.capacity.to_f %>

			<h4>Occupancy % rate at : <span style = "color:blue;"><%= ((t / c) * 100).round(2)  %></span></h4>
			
			<div style = "min-height: 40px; color: darkgreen;background-color: #e9eef7; border-radius: 10px;margin:10px 0px;"><p style = "padding: 10px;">  <%= property.note %></p></div>
			
		
		
	</div>
	<% if i != @properties.size %>
			<div style = "height: 10px;background-color: #e5faac; border-radius: 10px;">
				<h5 style = "color: darkgreen;background-color: #e5faac; border-radius: 10px;"> </h5>
			</div>
	<% end %>

	
			
	
		<% i += 1 %>
<% end %>




<% else %>
	<h3 style ="color: darkgreen;">You do not have any registered property at the moment.</h3>
<% end %>

<div style = "height: 20px;background-color: #ecfae1; border-radius: 10px;">
</div>






