<link rel="stylesheet" href="/stylesheets/main.css" />

<div style="float: right; padding:20px 40px; width: auto; display: inline-flex;">
	<div style = "padding: 5px;">	
		<form method = "post" action ="/properties" >
				<input class = "btn btn-secondary" type="submit" value="Back to Properties"> 
		</form>
	</div>
	<div style = "padding: 5px;">
		<form method = "post" action ="/logout" >
				<input class = "btn btn-secondary" type="submit" value="Sign Out">
		</form>
	</div>
</div>


<% if @property && @property.tenants.size > 0 %>
<h3>Here is list of your <%=  @property.tenants.size %> tenant(s) at <%= @property.name %>.
<% @property.tenants.each do|tenant|%>

	<div class="card" style="width: 28rem; border: 2px solid brown; border-radius: 10px; padding:10px; margin: 40px 0px;">
		<div class="card-body">
			<h2 class="card-title"><%= tenant.name.upcase %><span style = "float: right">Unit : <span style = "color: blue;"><%= tenant.unitNumber %></span></span></h2>
			<h4 class="card-subtitle mb-2 text-muted"><%= tenant.occupation.capitalize %></h4>

			<div class="car-link" style = "float: right; display: inline-flex;position-top: 5px;">
				<form action="/tenants/<%= tenant.id %>/edit" method="edit">     
					<input name="_method" type="hidden" value="edit">  
					<input name="property_id" type="hidden" value="<%= @property.id%>"> 
					<input class = "btn btn-secondary" type="submit" value="Update"> 
				 </form>
			
				<form action="/remove/<%= tenant.id%>/tenants" method="post">     
					<input name="_method" type="hidden" value="delete">  
					<input class = "btn btn-secondary" type="submit" value="Delete">
				 </form>
			</div>
		</div>
  	</div>

<% end%>
 

 <% elsif @property %>
 <h3 style ="color: red;"> You do not have any tenants </h3>
 <!-- <h2>Would you like to add <a href = "/tenants/<%= @property.id %>">New Tenants</a> to your <%= @property.name %>.</h2> -->


 <% end%>

 <% if @property.tenants.size != @property.capacity %>
	<div style="padding:15px 10px; width: auto;display: inline-flex;">
		<form action="/tenants/<%= @property.id %>" method="post">  
			<input class="form-control" type="text" name ="name" placeholder = "Name" required> 
			<input class="form-control" type="text" name ="occupation" placeholder = "Occupation" required> 
			<input  type = "text" name ="unitNumber" placeholder = "Unit Number" required><br>

			<input class = "btn btn-primary" type="submit" value="Create New Tenants">
			</form>
	</div>
<% end %>

	
 




 